nav {
    overflow: auto;
    border-radius: 5px;
    background-color:rgb(35, 49, 87);
    height: 150px;
    text-align: center;
    
}

.navbar {
font-size: 48px;
color: whitesmoke;

}

p {
    margin: 0 auto;
}
i {
    padding: 10px;
}

.MainContent {
    margin-top: 50px;
}

.card-header {
    background-color: rgb(47, 62, 78);
    
    color: white;
}

.card {
    background-color: white;
    border-color: rgb(47, 62, 78);
}

.buttons {
    color: white;
    background-color: gray;
}